build/
out
*/out
node_modules

tags
*/tags
cscope.out
*/cscope.out

CMakeCache.txt
*/CMakeCache.txt
CMakeFiles
*/CMakeFiles
cmake_install.cmake
*/cmake_install.cmake
Makefile
*/Makefile

api/*/build/*
api/*/Release/*
api/*/*.node
data

*.swp
.DS_Store
.vscode

dep/ComputeLibrary/build/examples
dep/ComputeLibrary/build/opencl-1.2-stubs
dep/ComputeLibrary/build/src
dep/ComputeLibrary/build/tests
